@{
    ViewBag.Title = "Summer School Home";
}

<body>

    <div class="jumbotron">
        <h1>SUMMER SCHOOL</h1><br />
        <p class="lead">Summer is here and if you need schooling instead of fun and sun this is the place!</p>

    </div>



    <div class="row">
        <div class="col-md-4">
            <h2>Enroll</h2>
            <p class="optDescrip">
                Summer school is open for slackers and over achievers alike! Click below to enroll now!!!
            </p>
            <p><a class="btn btn-primary btn-lg raised" @Html.ActionLink("Enroll Student(s)", "Index", "Students")</a></p>
        </div>
        <div class="col-md-4">
            <h2>Costs</h2>
            <p class="optDescrip">Coming Soon...</p>
            <p><a class="btn btn-primary btn-lg raised" href="~/Content/Peter_Scrooge_Money_dive.gif">Tuition &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Roster</h2>
            <p class="optDescrip">Coming Soon...</p>
            <p><a class="btn btn-primary btn-lg raised" href="~/Content/sum_school_roster.jpg">Roster &raquo;</a></p>
        </div>
    </div>
</body>