@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
    background-image:url("chalkboard.png");
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-align: center;
}

</style>

<div class="jumbotron">
    @*<h1>SUMMER SCHOOL</h1>*@
    <p class="lead">Summer is here and if you need schooling instead of fun and sun this is the place!</p>
    
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Enroll a Student</h2>
        <p>
            Summer school is open for slacker and over achievers alike! Click below to enroll now!!!
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Students", "Index", "Students")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Costs</h2>
        <p>Coming Soon...</p>
        <p><a class="btn btn-default" href="http://31.media.tumblr.com/tumblr_ls4cxfHfOC1qjykxzo1_400.gif">Tuition &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Roster</h2>
        <p>Coming Soon...</p>
        <p><a class="btn btn-default" href="http://screenrant.com/wp-content/uploads/Marvel-Avengers-NOW-Female-Thor-Black-Captain-Americajpg.jpg">Roster &raquo;</a></p>
    </div>
</div>